<form action="" class="form-inline">
  <ul class="errors help"></ul>
  <label for="name"></label>
  <button class="cancel btn btn-mini btn-primary form-btn">Cancel</button>
  <button class="save btn btn-mini btn-primary form-btn">Save</button>
  <input type="text" class="name" placeholder="project name" autofocus>
</form>

<!--
<form action="" class="form-inline">
  <ul class="errors help"></ul>

  <div class="form-group">
    <label for="name" class="sr-only"></label>
    <input type="text" class="name form-control" placeholder="project name" autofocus>
  </div>

  <button class="btn btn-mini btn-primary pull-right">Cancel</button>
  <button class="btn btn-mini btn-primary pull-right">Save</button>

</form>
-->
